@charset "UTF-8";

/* Media Queries para responsividade */
@media (max-width: 768px) {
    /* Para telas médias (tablets) */
    .menu {
        flex-direction: column;
        align-items: center;
    }

 html {
    font-size: 30px;
 }

 h1 {
    font-size: 1rem;
 }

 h2 {
    font-size: 0.75rem;
 }

 h3 {
    font-size: 0.5rem;
 }

 #text {
    margin: 15px auto;
 }
}

@media (max-width: 480px) {
    /* Para telas pequenas (celulares) */
    html {
        font-size: 25px;
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.75rem;
    }

    h3 {
        font-size: 0.5rem;
    }

    .menu {
        flex-direction: column;
        width: 100%;
    }

    .menu button {
        width: 90%;
        padding: 15px;
    }

    #txt {
        padding: 0 auto;
        margin: 10px auto;
    }

    figure.titulo {
        max-width: 80%;
        height: auto;
    }

    figure.titulo img{
        width: 100%;
    }
}
@media (max-width: 600px) {

    html {
        font-size: 27px;
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.75rem;
    }

    h3 {
        font-size: 0.5rem;
    }

    #text {
        margin: 13px auto;
    }

    figure.titulo{
        max-width: 60%;
        height: auto;
    }

    figure.titulo img{
        width: 100%;
    }

    figure.titulo {
        max-width: 40%;
        height: auto;
    }

    figure.titulo img {
        width: 100%;
    }
}

/* Estilo geral */

html {
    font-size: 40px;
}

h1 {
    font-size: 1rem;
}

h2{
    font-size: 0.75rem;
}

h3{
    font-size: 0.5rem;
}

body {
    background-color: pink;
}
/*Interface*/
div#interface{
    width: 90%;
    box-shadow: 0px 0px 15px #ff69b4d8;
    padding: 5px 30px 5px 30px;
    margin: 0px auto 0px auto;
    position: relative;
}

/* Ajustes no cabeçalho */
figure.titulo {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    box-shadow: 3px 3px 10px #ff69b4d8;
}

figure.titulo img{
    width: 100%;
    height: auto;
    display: block;
}

figure.titulo figcaption{
    position: absolute;
    top: 0px;
    text-align: center;
    padding: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #60606631;
}

figure.titulo figcaption h1{
    color: pink;
    text-shadow: 2px 2px 5px rgb(0,0,0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    position: relative;
}

figure.titulo figcaption h2 {
    text-align: center;
    font-size: 0.5rem;
    font-weight: 900px;
    color: white;
    text-shadow: 2px 2px 2px pink;
    width: 100%;
    height: 100%;
    position: absolute;
}


/* Ajustes para os botões */
nav#menu {
    position: absolute;
    top: 4%;
    left: 2%;
    padding-bottom: 5%;
}

/* Ajustes para o texto */
#txt {
    margin: 20px auto;
    max-width: 70%;
    padding: -10px 10px 5px 10px;
    text-align: justify;
    text-indent: 50px;
}
