@charset "UTF-8";
 
body {
    background-color: rgba(255, 192, 203, 0.801);
}

p{
    text-indent: 50px;
}
h1 {
    text-align: center;
    font-weight: 900;
    font-size:50px
}

h2 { 
  color: pink;
  text-shadow: 2px 2px 2px rgba(165, 42, 42, 0.7);
  background-color: rgba(255, 0, 106, 0.473);
  font-size: medium;
  text-align: justify;
}

h3 {
    color: pink;
    text-shadow: 2px 2px 2px rgba(165, 42, 42, 0.7);
    box-shadow: 2px 2px 2px rgba(165, 42, 42, 0.692);
    position: absolute;
    bottom: 0px;
    font-size: small;
}
 
/* Formatação do Título*/

figure.titulo {
    position: relative;
    border: 7px solid white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    width: fit-content;
    margin: 0 auto;
}

figure.titulo img {
    width: 600px;
    height: 358px;
}

figure.titulo figcaption{
    opacity: 0;
   position: absolute;
   top: 0px;
   background-color: rgba(0,0,0,0.4);
   color: pink;
   padding: 5px;
   width: 600px;
   height: 358px;
   box-sizing: border-box;
   transition: 1s;
}

figure.titulo:hover figcaption{
    opacity: 1;
}


/* Formatação da tulipa negra*/

figure.negra {
    position: relative;
    border: 5px transparent;
}

figure.negra img{
 width: 100%;
 height: 100%;
}

figure.negra figcaption{
    position: absolute;
    top: 0px;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.4);
    color: pink;
    opacity: 0;
    transition: 1s;
}

figure.negra:hover figcaption{
    opacity: 1;
}
