@charset "UTF-8";

section#conteudp {
    width: 100px;
    margin: auto
}

iframe#frame-specs {
    width: 450px;
    height: 290px;
    border: none;
    overflow: hidden;
}

iframe#frame-specs::-webkit-scrollbar {
    display: none;
}